{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"jsx": true,
		"useJSXTextNode": true,
		"ecmaVersion": 2018,
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"ignorePatterns": ["/out"],
	"plugins": ["@typescript-eslint", "roblox-ts", "prettier"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:roblox-ts/recommended",
		"plugin:prettier/recommended"
	],
	"rules": {
		"prettier/prettier": "warn",
		"no-use-before-define": ["error", { "functions": true, "classes": true }]
	},
	"overrides": [
		{
			"files": ["*.js"],
			
			"env": {
				"node": true,
				"es6": true
			},
			"parser": "espree", // Use the default JavaScript parser for JS files
			"parserOptions": {
				"ecmaVersion": 2020,
				"sourceType": "module"
			},
			"rules": {
				"no-undef": "off",
				"no-console": "off",
				"roblox-ts/no-null": "off",
				"roblox-ts/lua-truthiness": "off",
				"roblox-ts/no-unknown-variables": "off",
				"roblox-ts/no-unused-vars": "off"
			}
		}
	]
}
