# basic folders & stuff
/node_modules
/out
/include
.env
*.tsbuildinfo

# roblox specific stuff
/plugin/Rojoo.rbxm
build.rbxlx
build_noEdit.rbxlx
build_noEditWsl.rbxlx
tarmac-manifest.toml
tswatcher.log
build.rbxlx.lock
